# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


node_modules

# Ignore video and large media files
*.mp4
*.mov
*.avi
*.wmv
*.mkv
*.webm
*.mpg
*.mpeg
*.flv
*.zip
*.tar
*.gz
*.7z
*.iso
*.exe
*.dmg
*.bin
*.raw
*.wav
*.mp3
*.ogg
*.flac
*.aac
*.m4a
*.srt
*.vtt
*.lrc
*.pdf
*.bak
*.tmp
*.log

# Ignore upload and segment folders
server/uploads/
server/segments/